<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lfh.first">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AppbarActivity"></activity>
        <activity android:name=".SecondActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>